@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #000000;
    --color-secondary: #150050;
    --color-tertiary: #3F0071;
    --color-quaternary: #610094;

    --color-primary-text: #fefefe;
  }
}