
@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #FFF8F3;
    --color-secondary: #A3E4DB;
    --color-tertiary: #1C6DD0;
    --color-quaternary: #FED1EF;

    --color-primary-text: #010101;
  }
}